<div class="bg-primary shadow-sm">
    <div class="menu-header p-2">
        <h2 class="text-center text-light">Flooka</h2>
    </div>
    <div class="menu-body  mt-3">
        <div class="menu-bar text-light d-flex justify-content-between align-items-center">
            <p class="ms-3 my-2"><small> {{rooms.length}} discussion(s)</small></p>
            <button class="btn btn-sm btn-light me-3 my-2 shadow-sm " id="new-room" data-bs-toggle="modal"
                data-bs-target="#preferences"><i data-feather="user-plus" stroke-width="1"></i></button>
        </div>
        <ul class="list-group list-group-flush bg-light shadow-sm ">
            <li class="list-group-item d-flex " [routerLink]="'/chatroom/'+room._id" routerLinkActive="active"
                *ngFor="let room of rooms">
                <img [src]="room.members[0].picture" alt="profile" />
                <p class="ms-3 mt-2">{{ room.members[0].username}}</p>
            </li>
        </ul>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="preferences" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Preferences</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="formGroup">
                <div class="modal-body p-3">

                    <div class="form-group">
                        <label for="age" class="form-label">Age (between 18 - {{ageNumber}})</label>
                        <input type="range" class="form-range" min="18" name="age" formControlName="age" />
                    </div>
                    <div class="form-group my-2">
                        <label for="gender" class="form-label">Gender</label>
                        <select name="gender" class="form-control" formControlName="gender">
                            <option value="Men">Men</option>
                            <option value="Woman">Woman</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="country" class="form-label">Country</label>
                        <select name="country" class="form-control" formControlName="country">
                            <option value="Tunisia">Tunisia</option>
                            <option value="France">France</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary w-100 d-block" data-bs-dismiss="modal"
                        (click)="onSubmit()">Launch</button>
                </div>
            </form>
        </div>
    </div>
</div>