<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>S'inscrire</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formGroup" class="d-flex flex-column p-2" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            <ion-input placeholder="Enter username" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter phone number" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter age" formControlName="age"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter gender" formControlName="gender"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Enter country" formControlName="country"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Enter password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button type="submit" expand="block" color="success">Valid</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>