.msg-receiver {
    .bubble-receiver {
        background-color: #ebebeb;
        border-radius: 5px;
        margin-top: 8px;
        padding: 5px;
        width: 70%;
        display: inline-block;
        font-size: 14px;

    }

    .img-receiver {
        width: 40px;
        height: 40px;
    }
}

.msg-sender {
    display: flex;
    justify-content: flex-end;

    .img-sender {
        width: 40px;
        height: 40px;
    }

    ion-col {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        .bubble-sender {
            background-color: #ebebeb;
            border-radius: 5px;
            margin-top: 8px;
            padding: 5px;
            width: 70%;
            display: inline-block;
            font-size: 14px;
        }
    }

}




ion-thumbnail {
    --border-radius: 50px;
}

ion-input {
    border: none;
}

p {
    margin: 0;
}

p.message {
    margin-bottom: 4px;
}

.footer{
    box-shadow :0px 0px 10px 2px #ebebeb;
    background-color: var(--ion-background-color);

    ion-input,
    ion-item::part(native) {
        background-color: var(--ion-background-color) !important;
        border: none !important;
    }
}

ion-thumbnail {
    display: flex;
    align-items: flex-end;

    .small-thumbnail {
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
}

ion-col.is-typing {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    small {
        margin-bottom: 8px;
        color: #000;
    }
}